.balanceCard {
    width: 356px;
    height: 181px;
    border-radius: 15px;
    background-color: grey;
    color: white;
    position: absolute;
    top: 80px;
    left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balance {
    display: flex;
    justify-content: center;
}
.btn{
    color: white;
    background-color: #B5DC52;
    width: 108px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius:5px ;
    margin-top: 15px;
    align-items: center;
    

}
.btn span {
    color: white;
    display: block;

  

}
span {
    color:#B5DC52
}